<div class="container">
  
  <div class="fs-2 text-center"><div class="text-center fs-1" style="font-family: 'ZCOOL KuaiLe', cursive;">Welcome to <span style="color: #007693;">FacebookClone</span></div></div>
  
  <div class="text-center">Bienvenue <span style="background-color: #007693; font-family: 'ZCOOL KuaiLe', cursive;"><%= current_user.name %></span></div>
  
  <div class="text-center"><%= link_to "Logout", session_path(current_user.id), method: :DELETE, class: "btn btn-danger mt-2"%></div>

</div>





<div class="container" style="margin-bottom: 100px;">

  <p class="text-center text-warning"><%= notice %> </p>

  <div class="d-grid gap-2 col-6 mx-auto mt-5"><a class="btn btn-outline-success" href="<%= new_post_path%>">New tweet</a></div>

</div>

<% @posts.each do |post| %>
  <div class="container mb-5">
    <div class="d-flex justify-content-center align-items-center">
      <div>
          <h5>Title: <%=post.title%><span class="fs-6 ms-3"> by: <%= post.user.name if post.user_id.present? %></span> </h5>
          <div class="card" style="width: 30rem;">
            <% if post.image.present? %>
            <%= image_tag post.image.url, :class => "card-img-top" %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= post.content%></p>
            </div>
            <div class="d-flex justify-content-between">
              <% if session[:user_id] == post.user_id %>
                <a href="<%=edit_post_path(post.id)%>" class="btn btn-outline-info btn-sm">Modifier</a>
                <a href="<%=post_path(post.id)%>" class="btn btn-outline-info btn-sm">Voir plus</a>
                <a href="<%= post_path(post.id)%>" class="btn btn-outline-danger btn-sm" data-confirm="Etes de vous sur ?" data-method="DELETE">Supprimer</a>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
<%end%>